/* You can add global styles to this file, and also import other style files */

// Import JointJS styles
@import '~jointjs/dist/joint.min.css';

// Import JointJS+ styles
@import './rappid.css';

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
